@tip-bg-color: #000;
@tip-text-color: #fff;
@tip-font: Arial, sans-serif;
@tip-font-size: 0.75rem;
@tip-border-radius: 0.125rem;
@tip-arrow-size: 0.3125rem;
@tip-arrow-shadow-fade: 1px;

.base-arrow () {
  border: @tip-arrow-size solid transparent;
  height: 0;
  width: 0;
}

.arrow-down {
  .base-arrow();
  border-top-color: @tip-bg-color;
  filter: drop-shadow(0 1px @tip-arrow-shadow-fade);
}

.arrow-up {
  .base-arrow();
  border-bottom-color: @tip-bg-color;
  filter: drop-shadow(0 -1px @tip-arrow-shadow-fade);
}

.arrow-left {
  .base-arrow();
  border-right-color: @tip-bg-color;
  filter: drop-shadow(-1px 0 @tip-arrow-shadow-fade);
}

.arrow-right {
  .base-arrow();
  border-left-color: @tip-bg-color;
  filter: drop-shadow(1px 0 @tip-arrow-shadow-fade);
}

.topology__tooltip {
  background-color: @tip-bg-color;
  color: @tip-text-color;
  border-radius: @tip-border-radius;
  font-family: @tip-font;
  font-size: @tip-font-size;
  padding: 0.5em 1em;
  z-index: 10;
}

.base-before () {
  position: absolute;
  box-sizing: border-box;
  content: "";
}

.topology__tooltip-top {
  &::before {
    .base-before();
    .arrow-down();
    top: 100%;
    left: calc(50% - @tip-arrow-size / 2);
  }
}

.topology__tooltip-bottom {
  &::before {
    .base-before();
    .arrow-up();
    bottom: 100%;
    left: calc(50% - @tip-arrow-size / 2);
  }
}

.topology__tooltip-left {
  &::before {
    .base-before();
    .arrow-right();
    bottom: calc(50% - @tip-arrow-size);
    left: 100%;
  }
}

.topology__tooltip-right {
  &::before {
    .base-before();
    .arrow-left();
    bottom: calc(50% - @tip-arrow-size);
    left: -(2 * @tip-arrow-size);
  }
}
